* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #ffffff;
  padding: 30px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.filters {
  display: flex;
  gap: 10px;
}

.filters button {
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #669bbc;
  background-color: #fff;
  color: #669bbc;
  cursor: pointer;
  transition: 0.3s;
}

.filters button:hover,
.filters button.active {
  background-color: #669bbc;
  color: #fff;
}

#searchInput,
#sortPrice {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

#productCount {
  padding: 10px 15px;
  margin-bottom: 15px;
  background-color: #f1f1f1;
  border-radius: 8px;
  font-size: 14px;
}

#noResults {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffecec;
  color: #a10000;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.product-card {
  background-color: #669bbc;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 360px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.product-card img {
  height: 160px;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.product-card p {
  font-size: 14px;
  margin-bottom: 4px;
}

.product-card .price {
margin-top: auto;
  font-weight: bold;
  font-size: 15px;
}

.hidden {
  display: none;
}

@media (max-width: 1400px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1000px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}